{"swagger":"2.0","info":{"version":"v1","title":"Sample Affirm Product Service Api"},"host":"nowhere.gobluefrog.com:9090","schemes":["http"],"paths":{"/api/products/searchproducts":{"post":{"tags":["AnnuityProducts"],"summary":"Search for a list of Products","description":"Search Products and get a list","operationId":"AnnuityProducts_SearchProducts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Product Search Model","required":true,"schema":{"$ref":"#/definitions/ProductSearchVm"}}],"responses":{"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"},"200":{"description":"Features Response Model","schema":{"$ref":"#/definitions/ProductSearchResponseViewModel"}}}}},"/api/products/features":{"get":{"tags":["AnnuityProducts"],"summary":"Returns all the features for a given Product","operationId":"AnnuityProducts_Features","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model.carrierCode","in":"query","required":true,"type":"string","pattern":"^[a-zA-Z0-9\\-_]*"},{"name":"model.productCode","in":"query","required":true,"type":"string","pattern":"^[a-zA-Z0-9\\-_]*"},{"name":"model.solicitationState","in":"query","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647]},{"name":"model.residenceState","in":"query","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647]},{"name":"model.planOwnershipType","in":"query","required":false,"type":"string"},{"name":"model.trustType","in":"query","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,101,102,103,105,109,110,111,112,113,2147483647]},{"name":"model.planType","in":"query","required":false,"type":"string"},{"name":"model.callerOrgCode","in":"query","required":true,"type":"string","pattern":"^[a-zA-Z0-9]*"},{"name":"model.lineOfBusiness","in":"query","required":true,"type":"integer","format":"int32","maximum":2,"minimum":2},{"name":"model.correlationGUID","in":"query","required":true,"type":"string","format":"uuid"},{"name":"model.transType","in":"query","required":true,"type":"integer","format":"int32","enum":[102,103,105,106,107,108,111,113,115,118,121,122,123,125,127,129,130,140,151,161,170,180,181,182,183,184,185,186,187,188,189,191,192,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,221,225,227,228,229,230,233,234,235,237,239,240,241,301,302,303,304,305,306,310,311,321,401,402,404,410,411,412,413,500,502,503,504,505,506,508,509,510,520,551,552,601,701,810,820,890,1112,1114,1119,1122,1123,1125,1128,1201,1202,1203,1204,1205,1206,1212,1213,1214,1217,1221,1225,1228,1234,1235,1238,1240,1241,1250,1601,1801,1820,9000,9999,2147483647]},{"name":"model.policyProductForm","in":"query","required":true,"type":"integer","format":"int32","maximum":1,"minimum":1,"enum":[0,1,2,3,4,5,6,7,8,9,10,2147483647]}],"responses":{"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"},"200":{"description":"Features Response Model","schema":{"$ref":"#/definitions/FeaturesResponseVm"}}}}},"/api/products/funds":{"get":{"tags":["AnnuityProducts"],"summary":"Returns InvestProducts for a given Product","operationId":"AnnuityProducts_Funds","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model.carrierCode","in":"query","required":true,"type":"string","pattern":"^[a-zA-Z0-9\\-_]*"},{"name":"model.productCode","in":"query","required":true,"type":"string","pattern":"^[a-zA-Z0-9\\-_]*"},{"name":"model.arrType","in":"query","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,50,51,52,54,55,100030001,2147483647]},{"name":"model.arrProductCode","in":"query","required":false,"type":"string","pattern":"^[a-zA-Z0-9\\-_]*"},{"name":"model.arrSubType","in":"query","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,1022500025,1022500026,1022500027,1022500028,1022500029,1022500031,1022500032,1022500033,1022500034,1022500035,1022500036,1022500037,1022500038,2147483647]},{"name":"model.solicitationState","in":"query","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647]},{"name":"model.residenceState","in":"query","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647]},{"name":"model.ownerAge","in":"query","required":false,"type":"integer","format":"int32","maximum":90,"minimum":0},{"name":"model.callerOrgCode","in":"query","required":true,"type":"string","pattern":"^[a-zA-Z0-9]*"},{"name":"model.lineOfBusiness","in":"query","required":true,"type":"integer","format":"int32","maximum":2,"minimum":2},{"name":"model.correlationGUID","in":"query","required":true,"type":"string","format":"uuid"},{"name":"model.transType","in":"query","required":true,"type":"integer","format":"int32","enum":[102,103,105,106,107,108,111,113,115,118,121,122,123,125,127,129,130,140,151,161,170,180,181,182,183,184,185,186,187,188,189,191,192,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,221,225,227,228,229,230,233,234,235,237,239,240,241,301,302,303,304,305,306,310,311,321,401,402,404,410,411,412,413,500,502,503,504,505,506,508,509,510,520,551,552,601,701,810,820,890,1112,1114,1119,1122,1123,1125,1128,1201,1202,1203,1204,1205,1206,1212,1213,1214,1217,1221,1225,1228,1234,1235,1238,1240,1241,1250,1601,1801,1820,9000,9999,2147483647]},{"name":"model.policyProductForm","in":"query","required":true,"type":"integer","format":"int32","maximum":1,"minimum":1,"enum":[0,1,2,3,4,5,6,7,8,9,10,2147483647]}],"responses":{"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"},"200":{"description":"Funds Response Model","schema":{"$ref":"#/definitions/FundsResponseVm"}}}}},"/api/products":{"get":{"tags":["AnnuityProducts"],"summary":"Gets the details of a particular product","operationId":"AnnuityProducts_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model.purchaseAmount","in":"query","required":false,"type":"number","format":"double","minimum":0},{"name":"model.ownerAge","in":"query","required":false,"type":"integer","format":"int32","maximum":90,"minimum":0},{"name":"model.carrierCode","in":"query","required":true,"type":"string","pattern":"^[a-zA-Z0-9\\-_]*"},{"name":"model.productCode","in":"query","required":true,"type":"string","pattern":"^[a-zA-Z0-9\\-_]*"},{"name":"model.solicitationState","in":"query","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647]},{"name":"model.residenceState","in":"query","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647]},{"name":"model.planOwnershipType","in":"query","required":false,"type":"string"},{"name":"model.trustType","in":"query","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,101,102,103,105,109,110,111,112,113,2147483647]},{"name":"model.planType","in":"query","required":false,"type":"string"},{"name":"model.callerOrgCode","in":"query","required":true,"type":"string","pattern":"^[a-zA-Z0-9]*"},{"name":"model.lineOfBusiness","in":"query","required":true,"type":"integer","format":"int32","maximum":2,"minimum":2},{"name":"model.correlationGUID","in":"query","required":true,"type":"string","format":"uuid"},{"name":"model.transType","in":"query","required":true,"type":"integer","format":"int32","enum":[102,103,105,106,107,108,111,113,115,118,121,122,123,125,127,129,130,140,151,161,170,180,181,182,183,184,185,186,187,188,189,191,192,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,221,225,227,228,229,230,233,234,235,237,239,240,241,301,302,303,304,305,306,310,311,321,401,402,404,410,411,412,413,500,502,503,504,505,506,508,509,510,520,551,552,601,701,810,820,890,1112,1114,1119,1122,1123,1125,1128,1201,1202,1203,1204,1205,1206,1212,1213,1214,1217,1221,1225,1228,1234,1235,1238,1240,1241,1250,1601,1801,1820,9000,9999,2147483647]},{"name":"model.policyProductForm","in":"query","required":true,"type":"integer","format":"int32","maximum":1,"minimum":1,"enum":[0,1,2,3,4,5,6,7,8,9,10,2147483647]}],"responses":{"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}}}}},"definitions":{"ProductSearchVm":{"required":["SolicitationState","ResidenceState","CallerOrgCode","LineOfBusiness","CorrelationGUID","TransType","PolicyProductForm"],"type":"object","properties":{"SolicitationState":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647],"type":"integer"}},"ResidenceState":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647],"type":"integer"}},"CarrierName":{"pattern":"^[a-zA-Z0-9]*","type":"string"},"CarrierNAICGroupCode":{"type":"array","items":{"type":"string"}},"CusipNum":{"pattern":"^[a-zA-Z0-9]{3,9}","type":"string"},"ProductType":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,30,32,33,35,37,39,40,42,43,44,45,46,47,48,49,50,51,52,53,54,55,101,201,202,301,302,303,304,305,306,307,308,400,402,408,410,411,412,413,414,415,416,2147483647],"type":"integer"}},"PlanOwnershipType":{"type":"array","items":{"type":"string"}},"TrustType":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,101,102,103,105,109,110,111,112,113,2147483647],"type":"integer"}},"ShareClass":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,2147483647],"type":"integer"}},"RiderType":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,101,102,103,104,105,106,107,202,204,206,207,210,211,212,213,214,215,217,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,321,328,329,331,332,333,334,336,339,340,341,342,343,344,345,346,347,348,350,353,354,355,356,357,358,359,360,361,362,363,364,365,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,2147483647],"type":"integer"}},"OwnerAge":{"format":"int32","maximum":90,"minimum":0,"type":"integer"},"ArrangementType":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,50,51,52,54,55,100030001,2147483647],"type":"integer"}},"FundInvestmentType":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,2147483647],"type":"integer"}},"FundName":{"pattern":"^[a-zA-Z0-9]{3,}","type":"string"},"PurchaseAmount":{"format":"double","minimum":0,"type":"number"},"PayoutType":{"format":"int32","enum":[0,1,2,3,2147483647],"type":"integer"},"IncomeOption":{"type":"array","items":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,22,23,24,25,26,27,28,29,2147483647],"type":"integer"}},"PlanType":{"type":"array","items":{"type":"string"}},"CallerOrgCode":{"pattern":"^[a-zA-Z0-9]*","type":"string"},"LineOfBusiness":{"format":"int32","maximum":2,"minimum":2,"type":"integer"},"CorrelationGUID":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"TransType":{"format":"int32","enum":[102,103,105,106,107,108,111,113,115,118,121,122,123,125,127,129,130,140,151,161,170,180,181,182,183,184,185,186,187,188,189,191,192,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,221,225,227,228,229,230,233,234,235,237,239,240,241,301,302,303,304,305,306,310,311,321,401,402,404,410,411,412,413,500,502,503,504,505,506,508,509,510,520,551,552,601,701,810,820,890,1112,1114,1119,1122,1123,1125,1128,1201,1202,1203,1204,1205,1206,1212,1213,1214,1217,1221,1225,1228,1234,1235,1238,1240,1241,1250,1601,1801,1820,9000,9999,2147483647],"type":"integer"},"PolicyProductForm":{"format":"int32","maximum":1,"minimum":1,"enum":[0,1,2,3,4,5,6,7,8,9,10,2147483647],"type":"integer"}}},"ProductSearchResponseViewModel":{"type":"object","properties":{"Products":{"type":"array","items":{"$ref":"#/definitions/ProductSearchResponseElement"}},"Status":{"format":"int32","enum":[100,101,200,201,202,203,204,205,206,300,300,301,301,302,302,303,303,304,305,306,307,307,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,426,500,501,502,503,504,505],"type":"integer"},"Message":{"type":"string"}}},"ProductSearchResponseElement":{"type":"object","properties":{"PlanName":{"type":"string"},"PolicyProductTypeCode":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,30,32,33,35,37,39,40,42,43,44,45,46,47,48,49,50,51,52,53,54,55,101,201,202,301,302,303,304,305,306,307,308,400,402,408,410,411,412,413,414,415,416,2147483647],"type":"integer"},"CarrierName":{"type":"string"},"CusipNum":{"type":"string"},"ShareClass":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,2147483647],"type":"integer"},"CarrierCode":{"type":"string"},"ProductCode":{"type":"string"},"IncomeOption":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,22,23,24,25,26,27,28,29,2147483647],"type":"integer"},"FeatureProducts":{"type":"array","items":{"$ref":"#/definitions/FeatureProductResponseElement"}}}},"FeatureProductResponseElement":{"type":"object","properties":{"Name":{"type":"string"},"RiderType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,101,102,103,104,105,106,107,202,204,206,207,210,211,212,213,214,215,217,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,321,328,329,331,332,333,334,336,339,340,341,342,343,344,345,346,347,348,350,353,354,355,356,357,358,359,360,361,362,363,364,365,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,2147483647],"type":"integer"},"ArrangementType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,50,51,52,54,55,100030001,2147483647],"type":"integer"}}},"ProductDetailsRequest":{"required":["CarrierCode","ProductCode","CallerOrgCode","LineOfBusiness","CorrelationGUID","TransType","PolicyProductForm"],"type":"object","properties":{"CarrierCode":{"pattern":"^[a-zA-Z0-9\\-_]*","type":"string"},"ProductCode":{"pattern":"^[a-zA-Z0-9\\-_]*","type":"string"},"SolicitationState":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647],"type":"integer"},"ResidenceState":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647],"type":"integer"},"PlanOwnershipType":{"type":"string"},"TrustType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,101,102,103,105,109,110,111,112,113,2147483647],"type":"integer"},"PlanType":{"type":"string"},"CallerOrgCode":{"pattern":"^[a-zA-Z0-9]*","type":"string"},"LineOfBusiness":{"format":"int32","maximum":2,"minimum":2,"type":"integer"},"CorrelationGUID":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"TransType":{"format":"int32","enum":[102,103,105,106,107,108,111,113,115,118,121,122,123,125,127,129,130,140,151,161,170,180,181,182,183,184,185,186,187,188,189,191,192,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,221,225,227,228,229,230,233,234,235,237,239,240,241,301,302,303,304,305,306,310,311,321,401,402,404,410,411,412,413,500,502,503,504,505,506,508,509,510,520,551,552,601,701,810,820,890,1112,1114,1119,1122,1123,1125,1128,1201,1202,1203,1204,1205,1206,1212,1213,1214,1217,1221,1225,1228,1234,1235,1238,1240,1241,1250,1601,1801,1820,9000,9999,2147483647],"type":"integer"},"PolicyProductForm":{"format":"int32","maximum":1,"minimum":1,"enum":[0,1,2,3,4,5,6,7,8,9,10,2147483647],"type":"integer"}}},"FeaturesResponseVm":{"type":"object","properties":{"AnnuitizationDateRequired":{"format":"int32","enum":[1,2,3,2147483647],"type":"integer"},"PayOutType":{"format":"int32","type":"integer"},"FeatureProducts":{"type":"array","items":{"$ref":"#/definitions/FeatureProductItemVm"}},"IncomePayoutProductOptions":{"type":"array","items":{"$ref":"#/definitions/IncomePayoutProductOptionVm"}},"Status":{"format":"int32","enum":[100,101,200,201,202,203,204,205,206,300,300,301,301,302,302,303,303,304,305,306,307,307,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,426,500,501,502,503,504,505],"type":"integer"},"Message":{"type":"string"}}},"FeatureProductItemVm":{"type":"object","properties":{"Name":{"type":"string"},"Description":{"type":"string"},"FeatureCode":{"type":"string"},"FeatureMappingCode":{"format":"int32","enum":[1,2,3,4,5,6,7,8,9,10,11,13,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,35,36,40,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,130,131,132,133,134,136,138,140,141,154,156,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,199,200,201,202,203,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,240,241,242,243,244,245,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,263,264,265,266,267,268,269,271,272,274,275,276,277,281,282,283,290,291,300,301,302,303,304,305,306,307,308,310,311,312,313,314,315,316,317,318,319,320,321,323,326,327,332,336,337,340,343,346,347,348,352,356,359,360,369,372,379,381,382,383,389,390,396,397,398,408,410,411,416,422,423,424,425,426,428,433,436,440,443,444,445,448,449,450,451,452,454,460,461,462,465,466,467,468,469,471,472,474,475,476,478,479,480,481,484,485,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,579,580,581,584,585,586,587,588,592,593,594,595,596,597,599,600,601,602,603,605,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,2147483647],"type":"integer"},"SelectionRule":{"format":"int32","enum":[0,1,2,3,4,5,6,18,2147483647],"type":"integer"},"ArrType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,50,51,52,54,55,100030001,2147483647],"type":"integer"},"RiderTypeCode":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,101,102,103,104,105,106,107,202,204,206,207,210,211,212,213,214,215,217,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,321,328,329,331,332,333,334,336,339,340,341,342,343,344,345,346,347,348,350,353,354,355,356,357,358,359,360,361,362,363,364,365,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,2147483647],"type":"integer"},"Sequence":{"format":"int32","type":"integer"},"FeatureOptProducts":{"type":"array","items":{"$ref":"#/definitions/FeatureOptProductItemVm"}}}},"IncomePayoutProductOptionVm":{"type":"object","properties":{"Name":{"type":"string"},"Description":{"type":"string"},"ProductCode":{"type":"string"},"LivesType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,9,10,11,12,2147483647],"type":"integer"},"AgeCalculationType":{"format":"int32","enum":[0,1,2,3,4,5,6,2147483647],"type":"integer"},"LiquidityFeatureType":{"format":"int32","enum":[0,1,2,3,4,2147483647],"type":"integer"},"MinDelayMonths":{"format":"int32","type":"integer"},"MaxDelayMonths":{"format":"int32","type":"integer"},"IncomeOption":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,22,23,24,25,26,27,28,29,2147483647],"type":"integer"},"SplitPctIncrementsCCs":{"type":"array","items":{"$ref":"#/definitions/SplitPctIncrementsCCVm"}},"PaymentModeMethProducts":{"type":"array","items":{"$ref":"#/definitions/PaymentModeMethProductVm"}},"PeriodCertainCCs":{"type":"array","items":{"$ref":"#/definitions/PeriodCertainCcVm"}},"ContingencyBenefitChanges":{"type":"array","items":{"$ref":"#/definitions/ContingencyBenefitChangeVm"}},"AllowedChanges":{"type":"array","items":{"$ref":"#/definitions/AllowedChangeVm"}},"FeatureOptConflicts":{"type":"array","items":{"$ref":"#/definitions/FeatureOptConflictVm"}},"JurisdictionApprovals":{"type":"array","items":{"$ref":"#/definitions/JurisdictionApprovalVm"}},"QualifiedPlanEntities":{"type":"array","items":{"$ref":"#/definitions/QualifiedPlanEntityVm"}}}},"FeatureOptProductItemVm":{"type":"object","properties":{"ProductCode":{"type":"string"},"Name":{"type":"string"},"Description":{"type":"string"},"DefaultInd":{"type":"boolean"},"RevokableInd":{"type":"boolean"},"SubPayDCAType":{"format":"int32","enum":[0,1,2,3,4,2147483647],"type":"integer"},"RiderSubTypeCode":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,44,1022500033,1022500034,1022500035,2147483647],"type":"integer"},"SignatureRequiredCode":{"format":"int32","enum":[0,1,2,3,4,2147483647],"type":"integer"},"ParticipantBasedOn":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,26,27,28,29,30,31,32,33,34,36,37,38,39,40,41,42,43,44,45,50,51,52,53,56,57,58,59,60,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,2147483647],"type":"integer"},"MaxNumDestinationInvestProd":{"format":"int32","type":"integer"},"MinNumDestinationInvestments":{"format":"int32","type":"integer"},"ArrSubType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,1022500025,1022500026,1022500027,1022500028,1022500029,1022500031,1022500032,1022500033,1022500034,1022500035,1022500036,1022500037,1022500038,2147483647],"type":"integer"},"AllocationTypeProducts":{"type":"array","items":{"$ref":"#/definitions/AllocationTypeProductItemVm"}},"DestinationInvestmentProducts":{"type":"array","items":{"$ref":"#/definitions/DestInvestProductItemVm"}},"QualifiedPlanEntities":{"type":"array","items":{"$ref":"#/definitions/QualifiedPlanEntityVm"}},"FeatureOptConflicts":{"type":"array","items":{"$ref":"#/definitions/FeatureOptConflictVm"}},"FeatureOptRequisites":{"type":"array","items":{"$ref":"#/definitions/FeatureOptRequisiteVm"}},"SurrenderChargeSchedule":{"$ref":"#/definitions/SurrenderChargeScheduleVm"}}},"SplitPctIncrementsCCVm":{"type":"object","properties":{"SplitPctIncrement":{"format":"double","type":"number"}}},"PaymentModeMethProductVm":{"type":"object","properties":{"PaymentMode":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,40,41,42,43,44,45,46,47,48,49,50,51,98,99,100,2147483647],"type":"integer"},"PaymentFormCCs":{"type":"array","items":{"$ref":"#/definitions/PaymentFormCCVm"}},"AllowedDayCcs":{"type":"array","items":{"$ref":"#/definitions/AllowedDayCCVm"}}}},"PeriodCertainCcVm":{"type":"object","properties":{"PeriodCertainMode":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,40,41,42,43,44,45,46,47,48,49,50,51,98,99,100,2147483647],"type":"integer"},"PeriodCertainPeriods":{"format":"int32","type":"integer"},"FeatureOptConflicts":{"type":"array","items":{"$ref":"#/definitions/FeatureOptConflictVm"}}}},"ContingencyBenefitChangeVm":{"type":"object","properties":{"BenefitChangeBasedOn":{"format":"int32","type":"integer"},"BenefitChangeDirection":{"format":"int32","enum":[0,1,2,3,2147483647],"type":"integer"},"ContingentJointCCs":{"type":"array","items":{"$ref":"#/definitions/ContingentJointCCVm"}}}},"AllowedChangeVm":{"type":"object","properties":{"AllowedPercent":{"$ref":"#/definitions/AllowedPercentVm"}}},"FeatureOptConflictVm":{"type":"object","properties":{"ProductCode":{"type":"string"},"FeatureCode":{"type":"string"}}},"JurisdictionApprovalVm":{"type":"object","properties":{"Jurisdiction":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647],"type":"integer"}}},"QualifiedPlanEntityVm":{"type":"object","properties":{"EntityTypes":{"type":"array","items":{"$ref":"#/definitions/EntityTypeVm"}},"AccountDesignationCC":{"type":"array","items":{"$ref":"#/definitions/AccountDesignationCcVm"}},"QualifiedPlanOptions":{"type":"array","items":{"$ref":"#/definitions/QualifiedPlanOptionVm"}}}},"AllocationTypeProductItemVm":{"type":"object","properties":{"SourceTransferAmtType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,2147483647],"type":"integer"},"DestTransferAmtType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,2147483647],"type":"integer"},"MarketingName":{"type":"string"}}},"DestInvestProductItemVm":{"type":"object","properties":{"CarrierCode":{"type":"string"},"ProductCode":{"type":"string"},"MinAmt":{"format":"double","type":"number"},"MinPct":{"format":"double","type":"number"},"MaxPct":{"format":"double","type":"number"}}},"FeatureOptRequisiteVm":{"type":"object","properties":{"ProductCode":{"type":"string"},"FeatureCode":{"type":"string"}}},"SurrenderChargeScheduleVm":{"type":"object","properties":{"SurrenderChargeType":{"format":"int32","enum":[0,1,2,2147483647],"type":"integer"},"ChargeBasedOn":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,2147483647],"type":"integer"},"ChargePctSchedule":{"type":"array","items":{"$ref":"#/definitions/ChargePctScheduleVm"}}}},"PaymentFormCCVm":{"type":"object","properties":{"PaymentForm":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,19,20,21,22,23,24,25,26,27,2147483647],"type":"integer"}}},"AllowedDayCCVm":{"type":"object","properties":{"AllowedDay":{"format":"int32","enum":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,34],"type":"integer"}}},"ContingentJointCCVm":{"type":"object","properties":{"ContingentJoint":{"format":"int32","enum":[0,1,2,3,6,7,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,2147483647],"type":"integer"}}},"AllowedPercentVm":{"type":"object","properties":{"AllowedPayoutPct":{"format":"double","type":"number"},"AllowedPctType":{"format":"int32","type":"integer"}}},"EntityTypeVm":{"type":"object","properties":{"PartyTypeCode":{"format":"int32","enum":[0,1,2],"type":"integer"}}},"AccountDesignationCcVm":{"type":"object","properties":{"AccountDesignations":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,2147483647],"type":"integer"}}},"QualifiedPlanOptionVm":{"type":"object","properties":{"QualifiedPlan":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,100,101,102,103,104,105,106,107,108,1000300005,1000300006,1000300007,1000300008,1000300009,1000300010,1022500001,1022500002,2147483647],"type":"integer"},"QualPlanSubType":{"format":"int32","enum":[0,1,2,3,4,5,2147483647],"type":"integer"}}},"ChargePctScheduleVm":{"type":"object","properties":{"Percentage":{"format":"double","type":"number"},"Duration":{"format":"double","type":"number"},"DurQualifier":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,40,41,42,43,44,45,46,47,48,49,50,51,98,99,100,2147483647],"type":"integer"}}},"ProductFundsVm":{"required":["CarrierCode","ProductCode","CallerOrgCode","LineOfBusiness","CorrelationGUID","TransType","PolicyProductForm"],"type":"object","properties":{"CarrierCode":{"pattern":"^[a-zA-Z0-9\\-_]*","type":"string"},"ProductCode":{"pattern":"^[a-zA-Z0-9\\-_]*","type":"string"},"ArrType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,50,51,52,54,55,100030001,2147483647],"type":"integer"},"ArrProductCode":{"pattern":"^[a-zA-Z0-9\\-_]*","type":"string"},"ArrSubType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,1022500025,1022500026,1022500027,1022500028,1022500029,1022500031,1022500032,1022500033,1022500034,1022500035,1022500036,1022500037,1022500038,2147483647],"type":"integer"},"SolicitationState":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647],"type":"integer"},"ResidenceState":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647],"type":"integer"},"OwnerAge":{"format":"int32","maximum":90,"minimum":0,"type":"integer"},"CallerOrgCode":{"pattern":"^[a-zA-Z0-9]*","type":"string"},"LineOfBusiness":{"format":"int32","maximum":2,"minimum":2,"type":"integer"},"CorrelationGUID":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"TransType":{"format":"int32","enum":[102,103,105,106,107,108,111,113,115,118,121,122,123,125,127,129,130,140,151,161,170,180,181,182,183,184,185,186,187,188,189,191,192,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,221,225,227,228,229,230,233,234,235,237,239,240,241,301,302,303,304,305,306,310,311,321,401,402,404,410,411,412,413,500,502,503,504,505,506,508,509,510,520,551,552,601,701,810,820,890,1112,1114,1119,1122,1123,1125,1128,1201,1202,1203,1204,1205,1206,1212,1213,1214,1217,1221,1225,1228,1234,1235,1238,1240,1241,1250,1601,1801,1820,9000,9999,2147483647],"type":"integer"},"PolicyProductForm":{"format":"int32","maximum":1,"minimum":1,"enum":[0,1,2,3,4,5,6,7,8,9,10,2147483647],"type":"integer"}}},"FundsResponseVm":{"type":"object","properties":{"InvestProducts":{"type":"array","items":{"$ref":"#/definitions/InvestProductVm"}},"PolicyProduct":{"$ref":"#/definitions/PolicyProductVm"},"Status":{"format":"int32","enum":[100,101,200,201,202,203,204,205,206,300,300,301,301,302,302,303,303,304,305,306,307,307,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,426,500,501,502,503,504,505],"type":"integer"},"Message":{"type":"string"}}},"InvestProductVm":{"type":"object","properties":{"InvestProductTypeCode":{"format":"int32","type":"integer"},"ProductCode":{"type":"string"},"FullName":{"type":"string"},"ShortName":{"type":"string"},"CarrierCode":{"type":"string"},"CarrierName":{"type":"string"},"AssetClass":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,2147483647],"type":"integer"},"CurrencyTypeCode":{"format":"int32","type":"integer"},"AnnualDividend":{"format":"double","type":"number"},"GrowthRate":{"format":"double","type":"number"},"PriceFactor":{"format":"double","type":"number"},"InvestmentRate":{"format":"double","type":"number"},"RateType":{"format":"int32","type":"integer"},"CompoundMode":{"format":"int32","type":"integer"},"SaleEffectiveDate":{"format":"date-time","type":"string"},"SaleExpirationDate":{"format":"date-time","type":"string"},"NoNewMoneyDate":{"format":"date-time","type":"string"},"MinPct":{"format":"double","type":"number"},"DateBasedOn":{"format":"int32","type":"integer"},"SoftCloseDate":{"format":"date-time","type":"string"},"MarketValAdjustInd":{"type":"boolean"},"InvestProductInfoes":{"type":"array","items":{"$ref":"#/definitions/InvestProductInfoVm"}},"Fees":{"type":"array","items":{"$ref":"#/definitions/FeeVm"}}}},"PolicyProductVm":{"type":"object","properties":{"AnnuityProduct":{"$ref":"#/definitions/AnnuityProductVm"}}},"InvestProductInfoVm":{"type":"object","properties":{"CarrierCode":{"type":"string"},"Sequence":{"format":"int32","type":"integer"},"FullName":{"type":"string"},"ProductCode":{"type":"string"},"NoNewMoneyDate":{"format":"date-time","type":"string"}}},"FeeVm":{"type":"object","properties":{"FeeType":{"format":"int32","type":"integer"},"Description":{"type":"string"},"FeeTypeQualifier":{"format":"int32","type":"integer"},"FeeMode":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,40,41,42,43,44,45,46,47,48,49,50,51,98,99,100,2147483647],"type":"integer"},"FeePct":{"format":"double","type":"number"}}},"AnnuityProductVm":{"type":"object","properties":{"FeatureProducts":{"type":"array","items":{"$ref":"#/definitions/FundsFeatureProductItemVm"}}}},"FundsFeatureProductItemVm":{"type":"object","properties":{"FeatureOptProducts":{"type":"array","items":{"$ref":"#/definitions/FundsFeatureOptProductItemVm"}}}},"FundsFeatureOptProductItemVm":{"type":"object","properties":{"SourceInvestProducts":{"type":"array","items":{"$ref":"#/definitions/SourceDestInvestProd"}},"DestInvestProducts":{"type":"array","items":{"$ref":"#/definitions/SourceDestInvestProd"}}}},"SourceDestInvestProd":{"type":"object","properties":{"CarrierCode":{"type":"string"},"ProductCode":{"type":"string"},"MinAmt":{"format":"double","type":"number"},"MaxAmt":{"format":"double","type":"number"},"MinPct":{"format":"double","type":"number"},"MaxPct":{"format":"double","type":"number"}}},"ProductDetailsVm":{"required":["CarrierCode","ProductCode","CallerOrgCode","LineOfBusiness","CorrelationGUID","TransType","PolicyProductForm"],"type":"object","properties":{"PurchaseAmount":{"format":"double","minimum":0,"type":"number"},"OwnerAge":{"format":"int32","maximum":90,"minimum":0,"type":"integer"},"CarrierCode":{"pattern":"^[a-zA-Z0-9\\-_]*","type":"string"},"ProductCode":{"pattern":"^[a-zA-Z0-9\\-_]*","type":"string"},"SolicitationState":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647],"type":"integer"},"ResidenceState":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,80,2147483647],"type":"integer"},"PlanOwnershipType":{"type":"string"},"TrustType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,101,102,103,105,109,110,111,112,113,2147483647],"type":"integer"},"PlanType":{"type":"string"},"CallerOrgCode":{"pattern":"^[a-zA-Z0-9]*","type":"string"},"LineOfBusiness":{"format":"int32","maximum":2,"minimum":2,"type":"integer"},"CorrelationGUID":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"},"TransType":{"format":"int32","enum":[102,103,105,106,107,108,111,113,115,118,121,122,123,125,127,129,130,140,151,161,170,180,181,182,183,184,185,186,187,188,189,191,192,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,221,225,227,228,229,230,233,234,235,237,239,240,241,301,302,303,304,305,306,310,311,321,401,402,404,410,411,412,413,500,502,503,504,505,506,508,509,510,520,551,552,601,701,810,820,890,1112,1114,1119,1122,1123,1125,1128,1201,1202,1203,1204,1205,1206,1212,1213,1214,1217,1221,1225,1228,1234,1235,1238,1240,1241,1250,1601,1801,1820,9000,9999,2147483647],"type":"integer"},"PolicyProductForm":{"format":"int32","maximum":1,"minimum":1,"enum":[0,1,2,3,4,5,6,7,8,9,10,2147483647],"type":"integer"}}}}}
